body{
    background-color: #9fb3c8;
}

.card{
    width: auto;
    float: left;
    padding: 5%;
    margin-right: 5%;
    /* background-color: aqua; */
    /* border-radius: 10px; */
}

h1 {
    color: rgb(230, 91, 91);
    text-align: center;
    
    
}

h2 {
    color: plum;
    text-align: center;
}

h3 {
    color: bisque;
    text-align: center;
}

p {
    text-align: center;
}

.center-header{
    text-align: center;
}

div.container {
    text-align: center;
  }
  
ul.myUL {
    display: inline-block;
    text-align: left;
 

  }

article.container{
    text-align: center;
}

.center
{
 text-align: center;
 list-style-position: inside;
}
ol.center li
{
 text-align: left;
 margin-left: 40%;
}